@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

        body{
            margin: 0;
            background-color: hsla(0,0%,97%,0.1);
            overflow-x: hidden;
        }

        a{
            text-decoration: none;
            color: initial;
        }
        a:visited{
            text-decoration: none;
            color: initial;        
        }

        video {
            accent-color: #EEEEEE;
        }
        video::-webkit-media-controls-panel {
  background: linear-gradient(
    to top,
    rgba(238, 238, 238, 0),
    rgba(238, 238, 238, 0),
     rgba(238, 238, 238, 0),
    rgba(238, 238, 238, 0)
  ) !important;                         
}
        
video::-webkit-media-controls-play-button,
video::-webkit-media-controls-mute-button,
video::-webkit-media-controls-fullscreen-button {
  filter: brightness(1);
}
        
        /*about*/
        #floating {
            width: 28%;
            position: fixed;
            margin-left: 20px;
            margin-top: 10px;
            font-family: "Roboto Mono";
            font-size: 11px;
            line-height: 1.2;
            color: black;
            z-index: 1000;
        }
        .myname {
            font-weight: 650;
            font-family: "Instrument Sans", Arial, "sans-serif";
            /* font-size: 58px; */
            font-size: 50px;
            width: 85%;
        }
        .myname:hover {
            text-decoration: underline;
            text-decoration-style: solid;
            text-decoration-color: black;
        }
        .myname:hover ~ .me{
            opacity: 100%;
        }
        .email {
            font-size: 12.5px;
            z-index: 10000;
        }
        .intro {
            font-size: 16px;
            width: 85%;
            font-family: "Instrument Sans", Arial, "sans-serif";
            font-weight: 500;
            line-height: 1.15;
            margin-top: 12px;
        }
        .intro:hover {
            cursor: default;
        }
        .me {
            width: 80%;
            height: auto;
            opacity: 0%;
            z-index: 1;
        }
        
        /*columns*/
        #container {
            display: flex;
            gap: 5px;
            margin-right: -10px;
            margin-top: -10px;
            position: relative;
            align-items: flex-start;
        }
        
        /*work*/
        #empty {
            flex: 0 0 27%;
            max-width: 27%;
        }
        #column1 {
            flex: 0 1 35%;
            max-width: 35%;
            margin-top: 30px;
        }
        #column2 {
            flex: 0 1 35%;
            max-width: 35%;
            margin-top: 30px;
        }
        .proj {
            margin-bottom: 15px;
            cursor: pointer;
        }
        .projbelow {
            margin-top: 25px;
        }
        
        /*titles*/
        .projhead {
            display: flex;
            align-items: center;
        }
        .projnumber {
            flex: 0 0 20%;
            max-width: 20%;
            font-family: "Roboto Mono";
            font-size: 14px;
            margin-left: 5px;
            /*margin-top: -3px;*/
        }
        .title {
            flex: 0 1 60%;
            max-width: 60%;
            font-family: "Instrument Sans", Arial, "sans-serif";
            font-weight: 650;
            font-size: 24px; 
            text-align: center;
        }
        
        .proj:hover .title {
            text-decoration: underline;
            text-decoration-style: solid;
            text-decoration-color: black;
        }
        
        .type {
            flex: 0 2 20%;
            max-width: 20%;
            font-family: "Roboto Mono";
            font-size: 11px;
            text-align: right;
            margin-right: 10px;
            /*margin-top: -6px;*/
        }
        
        /*images*/
        .projimgdiv {
            width: 100%;
            position: relative;
        }
        .projimg {
            width: 100%;
        }

        /* side header sep pages*/
        .spreadbutside {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            width: 84%;
            margin-top: 2px;
        }
        .numberpg {
            font-family: "Roboto Mono";
            font-size: 14px;
        }
        .titlepg {
            font-family: "Instrument Sans", Arial, "sans-serif";
            font-weight: 650;
            font-size: 24px; 
        }
        .projectdescription {
            font-size: 16px;
            width: 84%;
            font-family: "Instrument Sans", Arial, "sans-serif";
            font-weight: 500;
            line-height: 1.15;
            margin: 5px 0 0 0;
        }

        /*sep pages only column*/
        .columnonly {
            flex: 0 1 70.5%;
            max-width: 70.5%;
            margin-top: 25px;
            align-items: flex-start;
        }
        .indtryp {
            padding-top: 15px;
            padding-bottom: 15px;
            display: flex;
            gap: 5px;
        }
        .projimg, .single {
            display: block;
            width: 100%;
            height: auto;
            align-items: left;
            flex: 0 0 49.8%;
        }
        .indtryp .single {
            width: 49.8%;
            height: auto;
            margin: 0;
        }
        .logo {
            width: 49.8%;
            height: 100%;
            margin: 0;
            flex: 0 1 49.8%;
        }
        .smallvid {
            width: 50%;
            height: 50%;
            justify-content: flex-end;
        }
        .videoright {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
        .logocolumn {
            width: 100%;
            height: 100%;
            flex: 0 1 50%;
        }

        /*menus specific*/
        .tindtryp .single {
            width: 49.8%;
            height: auto;
            margin: 0;
        }
        .tindtryp {
            padding-bottom: 15px;
            display: flex;
            gap: 5px;
        }
        .tprojimgdiv {
            width: 100%;
            position: relative;
            padding-bottom: 25px;
        }
        
        /*slider*/
        .slider {
  position: relative;
  width: 100%;
  margin: 0px auto;
  overflow: hidden;
}

.slide {
  display: none;
  width: 100%;
  height: 100%;
}

img .slide {
  object-fit: contain;
  object-position: center !important;
}

.slide.active {
  display: block;
  animation: fade 0.8s ease-in-out;
}

button.prev, button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #ccc; /* light grey */
  font-family: "Roboto Mono", monospace;
  font-size: 36px;
  cursor: pointer;
  padding: 0 10px;
  transition: color 0.2s ease;
}

.prev { left: 10px; }
.next { right: 10px; }

        @media (max-width: 684px) {
            #floating {
                max-width: 100%;
                width: 100%;
                position: relative;
                margin-left: 10px;
            }
            .intro {
                width: 95%;
                font-size: 13px;
            }
            #empty {
                flex: 0 0 0;
                max-width: 0;
            }
            #column1 {
                flex: 0 1 46%;
                max-width: 46%;
            }
            #column2 {
                flex: 0 2 46%;
                max-width: 46%;
            }
            #container {
                width: 100%;
                display: flex;
                margin-left: 0px;
                margin-right: 5px;
                padding-left: 0px;
                padding-right: 5px;
                gap: 13px;
            }
            .type {
                font-size: 8px;
                margin-top: -10px;
            }
            .title {
                font-size: 16px;
                height: 40px;
                margin-top: 10px;
            }
            .projnumber {
                font-size: 10px;
            }
            .projectdescription {
                width: 95%;
                font-size: 13px;
            }
            .email {
                font-size: 10px;
            }
            .columnonly {
                flex: 0 1 95%;
                max-width: 95%;
            }
            .spreadbutside {
                width: 95%;
            }
            .myname {
                font-size: 71px;
            }
        }